
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: white;
    opacity: 50%;
    border-radius: 25px;
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
    opacity: 100%;
    font-size: 24px;

}

a:hover{
    opacity: 0.4
}

#pageContainer{
    background-color: white;
}
#logo{
    width: 300px;
}
#logoContainer{
    display: flex;
    justify-content: center;
}


.container {
    display: flex;
}

.schtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

button {
    margin-top: 20px;
    padding: 10px 60px;
    border-radius: 25px;
    background-color:rgb(157, 157, 255);
    font-weight: 800;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
}


img {
    padding: 40px;
}



#header{
    text-align: center;
width: 600px;
}

.jeff{
    text-align: center;
}
#headerContainer{
    display: flex;
    justify-content: center;
}
#Us{
     text-align: center; 
border-width: 1px;
width: 600px;
}
#Aboutus{
    display: flex;
    justify-content: center;
}
.endContainer{
    width: 500px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin: 30px;
}
#endBlockContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name{
    font-size: 30px;
    text-decoration: underline;
}
#mission{
    width: 800px;
}
#missionContainer{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.schtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

img {
    padding: 40px;
}

#header{
    text-align: center;
width: 600px;
}

.jeff{
    text-align: center;
}
#headerContainer{
    display: flex;
    justify-content: center;
}
#Us{
     text-align: center;
border-width: 1px;
width: 600px;
}
#Aboutus{
    display: flex;
    justify-content: center;
}
.endContainer{
    width: 500px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin: 30px;
}
#endBlockContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name{
    font-size: 30px;
    text-decoration: underline;
}
#mission{
    width: 800px;
}
#missionContainer{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.schtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

img {
    padding: 40px;
}



#header{
    text-align: center;
width: 600px;
}

.jeff{
    text-align: center;
}
#headerContainer{
    display: flex;
    justify-content: center;
}
#Us{
     text-align: center; 
border-width: 1px;
width: 600px;
}
#Aboutus{
    display: flex;
    justify-content: center;
}
.endContainer{
    width: 500px;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin: 30px;
}
#endBlockContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name{
    font-size: 30px;
    text-decoration: underline;
}
#mission{
    width: 800px;
}
#missionContainer{
    display: flex;
    justify-content: center;
}

/* contact us */
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 800px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-style: solid;
    height: 100px;
}
.content:hover{
    cursor: pointer;
    text-decoration: underline;
}
#email{
    width: 50px;
    height: 50px;
}
.content{
    margin-left: 50px;
    font-size:  20px;
}
#contactContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#phone{
    width: 20px;
    height: 30px;
    margin-top: 10px;
}
#insta{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

#logoHeader{
    text-align: center;
    font-size: 45px;
    margin: 0;
}
#contactUs{
    text-align: center;
    font-size: 45px;
}

* {
    font-family: Helvetica, Helvetica, sans-serif;
}